<!DOCTYPE html>
<html>
  <head>
    <title>Customer Service ChatBot</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div id="header">
      <h1>Customer Service ChatBot</h1>
    </div>

    <div id="chat-container">
      <div id="chat-box"></div>
      <div style="display: flex; align-items: center">
        <input
          type="text"
          id="user-input"
          placeholder="Hello! type me here..."
        />
        <button style="margin: 2%" id="send-button">Send</button>
      </div>
    </div>
    <div id="recommended_questions">
      Please include below information in your inquiry:
    </div>



    <div id="info_form" style="display: none">
      <form id="client-form" action="/" method="get">
        <li>
            <input name="ref_num" id="ref_num" type="text" >
        </li>
        
        <li>
          <input name="start_dt" id="start_dt" type="text">
        </li>
        
        <li>
            <input name="book_start_dt" id="book_start_dt" type="text" >
        </li>

        <li>
            <input name="life_mile_cert" id="life_mile_cert" type="text" >
        </li>
        
        <li>
            <input name="lounge_name" id="lounge_name" type="text" >
        </li>

        <li>  
            <input name="email_addr" id="email_addr" type="text" >
        </li>
        
        <li>
            <input name="first_name" id="first_name" type="text" >
        </li>

        <li>
            <input name="last_name" id="last_name" type="text" >
        </li>
        
        <li>
            <input name="new_dt" id="new_dt" type="text" >
        </li>

        <li>
            <select name="req_type" id="req_type">
                <option value="cancel_service">cancel_service</option>
                <option value="refund_service">refund_service</option>
            </select>
        </li>
          

        <li class="nav-item">
          <button id="submit-btn" type="button" >Submit</button>
        </li>

      </form>
    </div>
    <!-- Your HTML code here -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#send-button").click(function () {
          ref_num_rate = false;
          sendMessage(ref_num_rate);
        });

        $("#user-input").keydown(function (event) {
          if (event.keyCode === 13) {
            ref_num_rate = false;
            sendMessage(ref_num_rate);
          }
        });

        function sendMessage(ref_num_rate) {
          var userMessage = $("#user-input").val();

          // if (userMessage.trim() !== "") {
            $("#user-input").val("");
            $("#chat-box").append(
              '<p class="user-message">User: ' + userMessage + "</p>"
            );

            $("#chat-box").append(
              '<p class="bot-message">Bot: <span id="typing-animation"> <div class="typing" style="margin-top: 10px; margin-bottom: 20px;">   <span></span>   <span></span>   <span></span> </div></span> </p>'
            );

            
            if (ref_num_rate == true) {
                  ref_val = $('#ref_num').val();
              } else {
                  ref_val = '';
              }

            
              console.log('before, ajax');
            $.ajax({
              url: "/get_response",
              type: "POST",
              data: {
                user_message: userMessage,
                ref_num: ref_val,
                start_dt: $('#start_dt').val(),
                book_start_dt: $('#book_start_dt').val(),
                life_mile_cert: $('#life_mile_cert').val(),
                lounge_name: $('#lounge_name').val(),
                email_addr: $('#email_addr').val(),
                first_name: $('#first_name').val(),
                last_name: $('#last_name').val(),
                new_dt: $('#new_dt').val(),
                req_type: $('#req_type').val(),

              },
              success: function (response) {
                $(".typing").remove();
                console.log('sent in ajax');
                $("#typing-animation").text(response.response);

                $(".typing").removeClass("typing").addClass("old_typing");
                var $element = $("#typing-animation");
                $element.attr("id", "old_typing-animation");
                
                if (response.buttonText) {

                  const form = $("#info_form");
                  form.css("display", "block");
                  if (response.request_type){
                    $("#req_type").val(response.request_type);
                  }
                }

              },

            });

          // }
        }

        $('#submit-btn').on('click', function() {
          ref_num_rate = true;
          // console.log('i am in update button');
          sendMessage(ref_num_rate);
          const form = $("#info_form");
          form.css("display", "none");
          });
      });

    </script>
  </body>
</html>
