<!DOCTYPE html>
<html>
<head>
    <title>Customer Service ChatBot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="header">
        <h1>Customer Service ChatBot</h1>
    </div>

    <div id="chat-container">
        <div id="chat-box"></div>
        <div style="display: flex; align-items: center;">
            <input type="text" id="user-input" placeholder="Hi! type me here...">
            <button style="margin: 2%;" id="send-button">Send</button>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#send-button').click(function() {
                sendMessage();
            });
    
            $('#user-input').keydown(function(event) {
                if (event.keyCode === 13) {
                    sendMessage();
                }
            });
    
            function sendMessage() {
                var userMessage = $('#user-input').val();
                if (userMessage.trim() !== '') {
                    $('#user-input').val('');
                    $('#chat-box').append('<p class="user-message">User: ' + userMessage + '</p>');
                    
                    $('#chat-box').append('<p class="bot-message">Bot: <span id="typing-animation"> <div class="typing" style="margin-top: 10px; margin-bottom: 20px;">   <span></span>   <span></span>   <span></span> </div></span> </p>');

                    $.post('/get_response', {user_message: userMessage}, function(data) {
                        $('.typing').remove();
                        //$('#typing-animation:last').empty();
                        
                        $('#typing-animation').text(data.response);
                        
                        $('.typing').removeClass('.typing').addClass('old_typing');
                        var $element = $('#typing-animation'); // Select the element with the old ID
                        $element.attr('id', 'old_typing-animation'); // Change the ID attribute


                    });
                }
            }
        });
    </script>
    
</body>
</html>
